.body{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin: 0 auto;
    width: 600px;
    height: fit-content;
    background-color: rgb(189, 255, 233);
    border-radius: 7px;
    padding: 30px;
}
.tab-bar a{
    font-size: 20px;
    text-decoration: none;
    background-color: lightgray;
    border-radius: 7px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 15px;
}
.tab-bar #tabDangKy{
    background-color: rgba(255, 255, 0, 0.877);
}
.tab-bar a:link, .tab-bar a:visited{
    color: black;
}
.tab-bar a:hover{
    background-color: lavender !important;
}
#dangNhap{
    display: none;
}
.title{
    margin: 0 auto;
    width: 500px;
    height: fit-content;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 2px brown;
}
.title h1{
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 10px;
}
.content{
    margin: 0 auto;
    width: 500px;
    padding: 20px;
}
.content table{
    padding: 0px 30px;
}
.content span{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content table tr td .thong-bao{
    font-size: medium;
    color: red;
    display: none;
}
.content input{
    margin-left: 25px;
    padding: 5px;
    border: 2px solid #DADADA;
    border-radius: 7px;
}
.content select{
    width: 86%;
    margin-left: 25px;
    margin-bottom: 5px;
    padding: 7px;
}
.content table tr td .btn-submit{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 60px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}
.content table tr td .btn-submit:hover{
    background-color: lavender !important;
}
.content a{
    font-size: medium;
    text-decoration: none;
    color: chocolate;
    margin-left: -2px;
}
.content table tr td #ghiNho{
    margin-top: 10px;
    margin-left: -2px;
    margin-right: 15px;
}
.footer{
    font-size: 18px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
}
.footer a:link, .footer a:visited{
    text-decoration: none;
    color: blue;
}
.footer a:hover{
    color: darkblue;
}